
div.floatLeft {
  float:left;
}
DIV#formSeperator {
  margin-top:25px;
  font-weight:bold;
}
DIV#deleteLink {
  margin-top:25px;
}

DIV#confirmbox {
  display:block;
  border:1px solid black;
  background-color:#AAAAAA;
  margin-top:15px;
  padding:10px;
  width:400px;
  height:75px;
  font-weight:bold;
}

DIV#confirmbox LI {
  font-weight:normal;
}
